<%= form_with(model: team) do |form| %>
  <div>
    <div class="form-name">
      <%= form.label :name %><br>
      <%= form.text_field :name%><br>
    </div>

    <div class="form-city">
      <%= form.label :city %><br>
      <%= form.text_field :city %><br>
    </div>

    <div class="form-description">
      <%= form.label :description %><br>
      <%= form.text_area :description %><br>
    </div>
    
    <%= form.submit %>
  </div>

  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
