<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<div id="teams">
  <% @teams.each do |team| %>
    <%= render team %>
    <p>
      <div>
      <%= team.name %><span style="padding-left:2em"></span>
        <%= link_to 'Show', team %>
        <%= link_to 'Edit', edit_team_path(team) %>
        <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </p> 
  <% end %>
</div>

<%= link_to "New team", new_team_path %>
